@include media-breakpoint-down(lg){
    .category-tabs-mobile{
        margin-top:-30rem!important;
        z-index: 2;
        position: relative;
    }
    .nav-pill-main-category{
        font-size: 40px;
    }
    .nav-pill-sub-category{
        font-size: 14px;
        letter-spacing: 0.1rem;
    }
    .nav-link.active.nav-pill-main-category::after{
        width: 2rem;
        height: 2rem;
    }
}