/* *** Footer *** */
.row-footer-siegel{
    margin-top:-30rem;
    margin-bottom: -5rem;
}
.row-footer-siegel{
    margin-top:-30rem;
    margin-bottom: -10rem!important;
}
.menu-item::marker{
    content:"—————";
    margin-right: 100px;
    width: 200px;
    letter-spacing:0;
    color:#000;
}
.navbar-footer .menu-item{
    padding-left:1rem;
    font-family: 'Bebas Neue';
    font-size: 14px;
    letter-spacing: 0.2rem;
    margin-left: 20px;
    line-height: 1.7rem;
}

.menu-item:hover::marker{
    content:"——————————";
}

.current-menu-item::marker{
    content:"——————————";
}

.footer-col-arrow-to-top{
    margin-bottom: -5rem;
}
.img-fluid.mobile-hide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

@include media-breakpoint-down(lg){
    .order-mobile-1{
        order:1;
    }
    .order-mobile-2{
        order:2;
    }
    .btn-no-border{
        padding-left:0!important;
        padding-right:0!important;
        letter-spacing:.1rem!important;
        font-size: 1rem!important;
    }
    .contact-arrow{
        margin-left:-77rem;
        max-width: none!important;
        
    }
    .footer-siegel{
        width:100%!important;
    }
    .row-footer-siegel{
        margin-top:-6rem;
        margin-bottom:-1rem!important;
    }
    .footer-socials{
        order:5;
        ul{
            display:block;
            .list-group-item{
                display:inline;
            }
        }
    }
    .footer-logo{
        width:50px!important;
    }
    .btn-to-top{
        margin-right:-25px;
    }
}
