/* *** Header *** */
.offcanvas-toggle{
    z-index: 2;
}

.socials-sticky{
    position: -webkit-sticky; /* Safari */
 position:sticky!important;
 top: 50%;
    transform: translate(-50%, -50%);

}
.woocommerce-sticky{
    position: -webkit-sticky; /* Safari */
    position:sticky!important;
    top: 50%;
    left: 100%; /* Sticky on the right side */
    transform: translate(-100%, -50%);
}

.sticky-row{
    max-width: 10px;
    margin-top:-12rem;
}
.hamburger-btn, .header{
    position: -webkit-sticky; /* Safari */
    position:sticky!important;
    top:2vw;
    z-index:999;
}
.logo{
    position: fixed;
    top: 20;
    left: 20;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
body.scrolled .logo {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
.logo img{
    width: 5rem;
}
.hamburger-btn img{
    width: 4rem;
}
@include media-breakpoint-down(lg){
    .hamburger-btn{
        margin-top:7%;
    }
}
@include media-breakpoint-down(md){
    .logo img{
        width: 3rem;
    }
    .hamburger-btn img{
        width: 2rem;
    }
    .hamburger-btn{
        margin-top:14%;
    }
    .offcanvas .menu-item > a{
        padding:0;
        font-size:1.5rem;
        line-height: 2rem;
        letter-spacing: 0.1rem;
    }
    .offcanvas .menu-item{
        margin-bottom:20px;
    }
    .offcanvas-logo{
        width:3rem!important;
        margin-top:-40px;
    }
    .offcanvas .btn-close{
        width:10px;
        height: 10px;
    }
    /* Update the styles for sticky social links */
/* Update the .socials-sticky-container class */
.socials-sticky-bottom {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Other styles remain the same */

.sticky-row {
    margin-top: 0;
    max-width: 100%;
    transform: translate(0, 0);
}

/* Make the <ul> horizontal */
.socials-sticky-bottom ul.list-group {
    padding: 0; /* Remove default vertical padding */
}

.socials-sticky-bottom ul.list-group li {
    display: inline-block; /* Display list items horizontally */
}

  
      .hamburger-btn{
        position: fixed!important;
        margin-top:2rem;
    }
}
