/* *** Header *** */
.offcanvas-toggle{
    z-index: 2;
}

.socials-sticky{
    position: -webkit-sticky; /* Safari */
 position:sticky!important;
 top:20vw;

}

.sticky-row{
    max-width: 10px;
    margin-top:-12rem;
}