/* *** Hero *** */


.hero-text{
    z-index: 2;
}



.hero-col-3{
    background-size: contain;
    background-repeat: no-repeat;
    margin-top:10rem;
}

.btn-hero{
margin-top:25%;
margin-left: 60%;
}

/*.hero-col-3 .btn{
    margin-top: -25rem;
    margin-left: 14rem;
}*/

.hero .p{
    color:#000;
    font-size:20px;
    letter-spacing: 2px;
    font-family: "Bebas Neue";
}
@include media-breakpoint-down(lg){
    .hero .p{
        margin-left: 3rem;
        font-size:14px;
    }
    .hero-col-3{
        order:1;
        margin-top:0;
        background-position: right;
        height: 40vh;
        margin-top: 20%;
        margin-bottom: -32%;
    }
    .hero-text{
        order:3
    }
    #primary > div > div.row.hero.mb-0.mb-lg-5 > div.col-1{
        order:2;
    }
    .btn-hero{
        margin-top:10%;
    }
}
@include media-breakpoint-up(lg){
    .hero{
        transform:translateY(-10rem);
        margin-top:-10rem;
        height: 70rem;
    }
    .hero-text{
        margin-top: -15rem;
    }
    .hero .p{
        margin-left: 7rem;
    }
    .hero-col-3{
        transform:translateX(-7rem);
    }
}