input[type="text" i], input[type="email" i], input[type="number" i]{
    width:300px;
    border:1px solid #000;
    padding-left:20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:20px;
}
input[type="text" i]::placeholder, input[type="email" i]::placeholder, input[type="number" i]::placeholder, input[type="tel" i]::placeholder{
    font-family:"Bebas Neue";
    text-transform: uppercase;
    letter-spacing:3px;
}
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #000;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.25;
}
.step.active{
    opacity:1;
}
.tab{
    display:none;
}
input.invalid {
    background-color: #ffdddd;
}
.tab h4{
    letter-spacing: 1px!important;
}
.form-check{
    padding-left:0;
}
@include media-breakpoint-down(lg){
    .leadform-hero{
        margin-top:3rem;
    }
    .leadform-box{
        height: 218px!important;
    }
    .leadform-phone-field{
        width:100%!important;
    }
    .leadform-submit{
        width:100%;
    }
    #leadform h3{
        font-size:1.75rem;
        line-height: 2.25rem;
    }
}