/* *** Schmuck Text *** */
.row-schmuck-text{
    margin-top:-35rem;
    height: 1200px;
    z-index:-2;
    position: relative;
}
.col-schmuck-text{
    background-size:cover;
    background-repeat:no-repeat;
    z-index:-2;
}
@include media-breakpoint-down(lg){
    .row-schmuck-text{
        margin-top: -10rem;
        height: 400px;
    }
}