@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
      .border#{$infix}-right {    border-right: $border-width solid $border-color !important; }
      .border#{$infix}-end {    border-right: $border-width solid $border-color !important; }
      .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
      .border#{$infix}-left {     border-left: $border-width solid $border-color !important; }
      .border#{$infix}-start {     border-left: $border-width solid $border-color !important; }
  
      .border#{$infix}-top-0 {    border-top: 0 !important; }
      .border#{$infix}-right-0 {  border-right: 0 !important; }
      .border#{$infix}-end-0 {  border-right: 0 !important; }
      .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
      .border#{$infix}-left-0 {   border-left: 0 !important; }
      .border#{$infix}-start-0 {   border-left: 0 !important; }
  
      .border#{$infix}-x {
        border-left: $border-width solid $border-color !important;
        border-right: $border-width solid $border-color !important;
      }
  
      .border#{$infix}-y {
        border-top: $border-width solid $border-color !important;
        border-bottom: $border-width solid $border-color !important;
      }
    }
}
:root{
    --bs-link-color:#000;
    --bs-body-font-family: 'roboto condensed';
    --bs-link-hover-color:#000;
    --bs-dark-rgb:#000;
    --bs-btn-disabled-bg:rgb(187, 187, 187);
    --bs-btn-disabled-border-color: rgb(187, 187, 187);
    --bs-accordion-active-color: black!important;
}
.border-dark{
    border-color:black!important;
}
.accordion{
    --bs-accordion-active-color: black!important;
}
.sticky-top{
    z-index: 998;
}
body{
    overflow-x:hidden;
}
.alert{
    border-radius:0;
}
.logo{
    z-index:999;
}
.p{
    font-family:'roboto condensed';
}
.carousel-dark .carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.carousel-indicators{
    position: relative;
}
.container{
    max-width: 100%;
}

.a{
    text-decoration: none;
}

.h1{
    font-size: 100px;
    color:#000;
    line-height: 6rem;
    font-family:'Bebas Neue';
}

.h2{
    font-size:80px;
    color:#000;
    line-height:5rem;
    font-family:'Bebas Neue';
}
.verantwortung-h2{
    font-size:250px;
    line-height: 12rem;
}
.h3{
    font-size:60px;
    color:#000;
    line-height: 4rem;
    font-family:'Bebas Neue';
}

.h4{
    font-size: 16px;
    color:#000;
    letter-spacing: 0.2rem;
    font-family:'Bebas Neue';
}
.btn:disabled{
    background-color:rgb(187, 187, 187);
    border-color:rgb(187, 187, 187);
}
.btn{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index:999;
}
.btn-primary{
    background-color: transparent;
    color: #000;
    border-radius: 0;
    border-color: #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    z-index:999;
    font-family: "Bebas Neue";
}
.btn-primary:hover{
    background-color:#000;
    color:#fff;
    border-color:#000;
}
.btn-no-border{
    background-color: transparent;
    color: #000;
    border:0;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    font-family:"Bebas Neue";
    font-size: 2rem;
}

.btn-white{
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    border-color: #fff;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.btn-white:hover{
    background-color:#fff;
    color:#000;
}

// *** Projektgebiete *** 
.projektgebiete .card-text{
    font-family: 'roboto condensed';
}

.projektgebiete .bi{
    font-style:normal;
}
.projektgebiete .card-body .bi{
    font-size: 16px;
    letter-spacing: 0.2rem;
    font-family:'Bebas Neue';
    font-weight: 600;
}
.projektgebiete .card-title{
    font-family:'Bebas Neue';
    font-size: 50px;
}
.projektgebiete .card-title:before{
    display:none;
}
.projektgebiete .card-title:after{
    display:none;
}

// *** Kontakt ***
.page-id-219 .connect{
    display:none;
}
.page-id-219 .connect-arrow{
    display:none;
}
.contact .form-check .form-check-input{
    margin-left:0;
    margin-right:10px;
}
.contact input[type=text i], .contact input[type=email i], .contact input[type=number i]{
    width:100%;
}
textarea{
    padding-left: 20px;
    font-family: "Bebas Neue";
    font-size: 1rem;
    letter-spacing: .2rem;
}
.form-control{
    border-color:#000;
    border-radius: 0px;
}

.form-check-input[type=checkbox]{
    border-color:#000;
    border-radius:0px;
}
.page-id-219 .single-hero{
    margin-bottom: 0px;
}
.ohnohoney{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}
// *** Sidebar Shop ***
.wc-block-product-categories-list--depth-0{
    font-size:80px;
    color:#000;
    font-family:'Bebas Neue';
}

.wc-block-product-categories-list--depth-1{
    font-size:16px;
    letter-spacing: 3px;
    line-height: 3rem;
}

ol {
    list-style-type: none;
}

ul {
    list-style-type: none;
}
.woocommerce_kategorie_titel_links_produkte ul{
    list-style-type:initial;
}


//*** Product Archive ***

a.added_to_cart.wc-forward {
    position: absolute;
    color: white;
    margin-left: -50px;
    margin-top:30px;
}




.archive .yith-wcwl-wishlistexistsbrowse a::before, .related-products .yith-wcwl-wishlistexistsbrowse a::before{
    content: url("data:image/svg+xml;base64, ICAgIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNmZmYiIGNsYXNzPSJiaSBiaS1jdXAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNLjExIDMuMTg3QS41LjUgMCAwIDEgLjUgM2gxM2EuNS41IDAgMCAxIC40ODguNjA4bC0uMjIuOTkxYTMuMDAxIDMuMDAxIDAgMCAxLTEuMyA1Ljg1NGwtLjEzMi41OUEyLjUgMi41IDAgMCAxIDkuODk2IDEzSDQuMTA0YTIuNSAyLjUgMCAwIDEtMi40NC0xLjk1OEwuMDEyIDMuNjA4YS41LjUgMCAwIDEgLjA5OC0uNDJabTEyLjU3NCA2LjI4OGEyIDIgMCAwIDAgLjg2Ni0zLjg5OWwtLjg2NiAzLjlaTTEuMTI0IDRsMS41MTYgNi44MjVBMS41IDEuNSAwIDAgMCA0LjEwNCAxMmg1Ljc5MmExLjUgMS41IDAgMCAwIDEuNDY0LTEuMTc1TDEyLjg3NyA0SDEuMTIzWiIvPgo8L3N2Zz4=");
    margin-top:50px;  
    margin-left:33px;
    display:block;
}
.archive .yith-wcwl-wishlistaddedbrowse a::before{
    content: url("data:image/svg+xml;base64, ICAgIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNmZmYiIGNsYXNzPSJiaSBiaS1jdXAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNLjExIDMuMTg3QS41LjUgMCAwIDEgLjUgM2gxM2EuNS41IDAgMCAxIC40ODguNjA4bC0uMjIuOTkxYTMuMDAxIDMuMDAxIDAgMCAxLTEuMyA1Ljg1NGwtLjEzMi41OUEyLjUgMi41IDAgMCAxIDkuODk2IDEzSDQuMTA0YTIuNSAyLjUgMCAwIDEtMi40NC0xLjk1OEwuMDEyIDMuNjA4YS41LjUgMCAwIDEgLjA5OC0uNDJabTEyLjU3NCA2LjI4OGEyIDIgMCAwIDAgLjg2Ni0zLjg5OWwtLjg2NiAzLjlaTTEuMTI0IDRsMS41MTYgNi44MjVBMS41IDEuNSAwIDAgMCA0LjEwNCAxMmg1Ljc5MmExLjUgMS41IDAgMCAwIDEuNDY0LTEuMTc1TDEyLjg3NyA0SDEuMTIzWiIvPgo8L3N2Zz4=");
    margin-top:50px;  
    margin-left:33px;
    display:block;
}
.archive .yith-wcwl-wishlistexistsbrowse .feedback, .related-products .yith-wcwl-wishlistexistsbrowse .feedback{
    display:none;
}
.archive .yith-wcwl-wishlistexistsbrowse a, .related-products .yith-wcwl-wishlistexistsbrowse a{
    font-size: 0;
}
.archive .yith-wcwl-wishlistaddedbrowse .feedback, .related-products .yith-wcwl-wishlistaddedbrowse .feedback{
    display:none;
}
.archive .yith-wcwl-wishlistaddedbrowse a, .related-products .yith-wcwl-wishlistaddedbrowse a{
    font-size:0;
}






.woocommerce ul.products.columns-3 li.product:hover .product-btn-wishlist, .woocommerce-page ul.products.columns-3 li.product:hover .product-btn-wishlist{
    background-color:rgba(0,0,0,0.7);
}

.woocommerce ul.products li.product a{
    visibility: hidden;
}

.woocommerce ul.products.columns-3 li.product:hover a, .woocommerce-page ul.products.columns-3 li.product:hover a{
    visibility: visible;
    border:0;
}
.archive .add_to_wishlist::before{
    content: url("data:image/svg+xml;base64, ICAgIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNmZmYiIGNsYXNzPSJiaSBiaS1jdXAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNLjExIDMuMTg3QS41LjUgMCAwIDEgLjUgM2gxM2EuNS41IDAgMCAxIC40ODguNjA4bC0uMjIuOTkxYTMuMDAxIDMuMDAxIDAgMCAxLTEuMyA1Ljg1NGwtLjEzMi41OUEyLjUgMi41IDAgMCAxIDkuODk2IDEzSDQuMTA0YTIuNSAyLjUgMCAwIDEtMi40NC0xLjk1OEwuMDEyIDMuNjA4YS41LjUgMCAwIDEgLjA5OC0uNDJabTEyLjU3NCA2LjI4OGEyIDIgMCAwIDAgLjg2Ni0zLjg5OWwtLjg2NiAzLjlaTTEuMTI0IDRsMS41MTYgNi44MjVBMS41IDEuNSAwIDAgMCA0LjEwNCAxMmg1Ljc5MmExLjUgMS41IDAgMCAwIDEuNDY0LTEuMTc1TDEyLjg3NyA0SDEuMTIzWiIvPgo8L3N2Zz4=");
    margin-top:0px;
    display:block;
    margin-top:18px;
}
.archive .add_to_wishlist{
    background-color:transparent!important;
}
.archive .yith-wcwl-add-button>a i{
    display:none;
}
.archive .add_to_wishlist span{
    display:none;
}

.archive .yith-wcwl-add-to-wishlist{
    margin-top: -2rem;
    margin-left: -2rem;
}

.next:before{
    content:url('/wp-content/uploads/2022/11/Nacher-Button-mit-Pfeil-e1669375406723.png');
    display:block;

}
.prev:before{
    content:url('/wp-content/uploads/2022/11/Vorher-Button-mit-Pfeil--e1669375427843.png');
    display:block;

}
.woocommerce nav.woocommerce-pagination ul li:not(:first-child):not(:last-child) a{
    display:none;
}
.woocommerce nav.woocommerce-pagination ul li span{
    display:none;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li{
    border:0;
}
.woocommerce nav.woocommerce-pagination ul li a:hover{
    background:transparent;
}
.woocommerce nav.woocommerce-pagination ul li {
    font-size: 0;
}

.wc-block-product-categories-list--depth-0 .wc-block-product-categories-list-item a{
    border-bottom: solid #000 1px;
    display: flex;
    flex-direction: column;

}

.wc-block-product-categories-list--depth-1 .wc-block-product-categories-list-item a{
    border-bottom: 0;

}
.wc-block-product-categories-list--depth-2 .wc-block-product-categories-list-item a{
    border-bottom: 0;

}
.wc-block-product-categories-list--depth-3 .wc-block-product-categories-list-item a{
    border-bottom: 0;

}

.wc-block-product-categories-list--depth-1{
    margin-top:2rem;
}

.wc-block-product-categories-list--depth-0 .wc-block-product-categories-list-item{
    margin-bottom: 5rem;
}
.wc-block-product-categories-list--depth-1 .wc-block-product-categories-list-item{
    margin-bottom: 0rem;
}
.wc-block-product-categories-list--depth-2 .wc-block-product-categories-list-item{
    margin-bottom: 0rem;
}
.wc-block-product-categories-list--depth-3 .wc-block-product-categories-list-item{
    margin-bottom: 0rem;
}

.wc-block-product-categories-list--depth-0 .wc-block-product-categories-list-item__name{
    margin-left:5rem;
}
.wc-block-product-categories-list--depth-1 .wc-block-product-categories-list-item__name{
    margin-left:3.2rem;
}
.wc-block-product-categories-list--depth-2 .wc-block-product-categories-list-item__name{
    margin-left:3.2rem;
}
.wc-block-product-categories-list--depth-3 .wc-block-product-categories-list-item__name{
    margin-left:3.2rem;
}
.buy-btn-col, .wishlist-btn-col{
    z-index: 2;
}

.nav-pills .nav-link.active {
    background-color: white;
    color: black;
  }
  
  .nav-pills .nav-link.active::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-chevron-right' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav-link.active.nav-pill-main-category::after{
    width: 3rem;
    height: 3rem;
  }
  .nav-pills{
    font-family:"Bebas Neue";
  }
  .nav-pills .nav-link{
    text-align: left;
    display:flex;
    justify-content:space-between;
    align-items:center
  }
  .nav-pill-sub-category{
    letter-spacing: 3px;
    font-size: 16px;
  }
  .nav-pill-main-category{
    font-size: 80px;
    border-bottom: solid 1px black!important;
    border-radius:0px!important;
    margin-bottom: 2rem;
  }
  .nav-pill-main-category:not(:first-child){
    margin-top:3rem;
  }

  

  

// *** Product Page ***
.nav-tabs .nav-item .nav-link{
    font-size: 40px;
    text-transform: uppercase;
    font-family:'Bebas Neue';
}

.versprechen{
    font-size:40px;
    font-family:'Bebas Neue';
}

.hilf-mit{
    font-size:80px;
    font-family:'Bebas Neue';
    line-height: 5rem;
}

.abschnitt-hilf-mit{
    margin-bottom: 10rem;
}
.yith-wcwl-wishlistexistsbrowse{
    font-size: 12px;
    color:#000;
    letter-spacing: 0.2rem;
    font-family:'Bebas Neue';
}
.yith-wcwl-wishlistexistsbrowse a{
    text-decoration: underline;
}
.var_info{
    display:inline;
}

.single-product .single-hero{
    height: auto;
    margin-top:0rem;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
    font-size: 16px;
    color:#000;
    letter-spacing: 0.3rem;
    font-family:'Bebas Neue';
}
.woocommerce div.product form.cart .button{
    padding-left: 2.7rem;
    padding-right: 2.6rem;
    z-index:999;
    background-color: transparent;
    color: #000;
    border-radius: 0;
    border:solid 1px #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-left:15px;
    height: 37px;
    font-family:'Bebas Neue';
}
.woocommerce div.product form.cart .button:hover{
    background-color:#000;
    color:#fff;
    border-color:#000;
}
.woocommerce .quantity .qty{
    border-radius: 0;
    border:solid 1px #000;
    height: 37px;
    width: 6.2rem
}
.woocommerce a.button.alt{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    z-index:999;
    background-color: transparent;
    color: #000;
    border-radius: 0;
    border:solid 1px #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.woocommerce a.button.alt:hover{
    background-color:#000;
    color:#fff;
    border-color:#000;
    
}
.woocommerce div.product form.cart .variations select{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    border-radius: 0;
    border:solid 1px #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-bottom: 1rem;
    min-width: 50%;
    max-width: 50%;
}
input[type=number i]{
    padding-right:0!important;
    padding-left:0!important;
}
.woocommerce div.product form.cart .variations{
    margin-bottom: 0rem;
}
.variations .label{
    display:none;
}
.related-products h2{
    display:none;
}
.related-products{
    margin-bottom: 10rem;
}

// *** Related Products ***
.related-products .yith-wcwl-wishlistaddedbrowse a::before{
    content: url("data:image/svg+xml;base64, ICAgIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNmZmYiIGNsYXNzPSJiaSBiaS1jdXAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNLjExIDMuMTg3QS41LjUgMCAwIDEgLjUgM2gxM2EuNS41IDAgMCAxIC40ODguNjA4bC0uMjIuOTkxYTMuMDAxIDMuMDAxIDAgMCAxLTEuMyA1Ljg1NGwtLjEzMi41OUEyLjUgMi41IDAgMCAxIDkuODk2IDEzSDQuMTA0YTIuNSAyLjUgMCAwIDEtMi40NC0xLjk1OEwuMDEyIDMuNjA4YS41LjUgMCAwIDEgLjA5OC0uNDJabTEyLjU3NCA2LjI4OGEyIDIgMCAwIDAgLjg2Ni0zLjg5OWwtLjg2NiAzLjlaTTEuMTI0IDRsMS41MTYgNi44MjVBMS41IDEuNSAwIDAgMCA0LjEwNCAxMmg1Ljc5MmExLjUgMS41IDAgMCAwIDEuNDY0LTEuMTc1TDEyLjg3NyA0SDEuMTIzWiIvPgo8L3N2Zz4=");
    margin-top:24px;  
    margin-left:20px;
    display:block;
}
.related-products .yith-wcwl-wishlistexistsbrowse a::before{
    content: url("data:image/svg+xml;base64, ICAgIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNmZmYiIGNsYXNzPSJiaSBiaS1jdXAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNLjExIDMuMTg3QS41LjUgMCAwIDEgLjUgM2gxM2EuNS41IDAgMCAxIC40ODguNjA4bC0uMjIuOTkxYTMuMDAxIDMuMDAxIDAgMCAxLTEuMyA1Ljg1NGwtLjEzMi41OUEyLjUgMi41IDAgMCAxIDkuODk2IDEzSDQuMTA0YTIuNSAyLjUgMCAwIDEtMi40NC0xLjk1OEwuMDEyIDMuNjA4YS41LjUgMCAwIDEgLjA5OC0uNDJabTEyLjU3NCA2LjI4OGEyIDIgMCAwIDAgLjg2Ni0zLjg5OWwtLjg2NiAzLjlaTTEuMTI0IDRsMS41MTYgNi44MjVBMS41IDEuNSAwIDAgMCA0LjEwNCAxMmg1Ljc5MmExLjUgMS41IDAgMCAwIDEuNDY0LTEuMTc1TDEyLjg3NyA0SDEuMTIzWiIvPgo8L3N2Zz4=");
    margin-top:36px;  
    margin-left:5px;
    display:block;
}
.related-products .yith-wcwl-add-button a::before{
    margin-top:-24px;
    display:block;
    content: url("data:image/svg+xml;base64, ICAgIDxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIGZpbGw9IiNmZmYiIGNsYXNzPSJiaSBiaS1jdXAiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNLjExIDMuMTg3QS41LjUgMCAwIDEgLjUgM2gxM2EuNS41IDAgMCAxIC40ODguNjA4bC0uMjIuOTkxYTMuMDAxIDMuMDAxIDAgMCAxLTEuMyA1Ljg1NGwtLjEzMi41OUEyLjUgMi41IDAgMCAxIDkuODk2IDEzSDQuMTA0YTIuNSAyLjUgMCAwIDEtMi40NC0xLjk1OEwuMDEyIDMuNjA4YS41LjUgMCAwIDEgLjA5OC0uNDJabTEyLjU3NCA2LjI4OGEyIDIgMCAwIDAgLjg2Ni0zLjg5OWwtLjg2NiAzLjlaTTEuMTI0IDRsMS41MTYgNi44MjVBMS41IDEuNSAwIDAgMCA0LjEwNCAxMmg1Ljc5MmExLjUgMS41IDAgMCAwIDEuNDY0LTEuMTc1TDEyLjg3NyA0SDEuMTIzWiIvPgo8L3N2Zz4=");
}
.related-products .add_to_wishlist i, .add_to_wishlist span{
    display:none;
}
.related-products .add_to_wishlist:hover{
    background-color:transparent!important;
}


.related-products .yith-wcwl-wishlistexistsbrowse .feedback{
    display:none;
}
.related-products .yith-wcwl-wishlistexistsbrowse a{
    font-size: 0;
}
.woocommerce ul.products.columns-5 li.product:hover .product-btn-wishlist, .woocommerce ul.products.columns-5 li.product:hover .product-btn-wishlist{
    background-color:rgba(0,0,0,0.7);
}
.related-products .feedback{
    display:none;
}

.woocommerce ul.products li.product a{
    visibility: hidden;
}

.woocommerce ul.products.columns-5 li.product:hover a, .woocommerce-page ul.products.columns-5 li.product:hover a{
    visibility: visible;
    border:0;
}
// *** Cart ***

.entry-header{
    display:none;
}

.cart_totals h2{
    font-size: 40px;
    color:#000;
    
    font-family:'Bebas Neue';
}
.woocommerce-cart table.cart td.actions .coupon .input-text{
    width:10rem;
}

.cart-hero{
   // height: 70rem;
   // transform:translateY(-10rem);
    margin-top:-10rem;
   // margin-bottom: -10rem;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    float:left;
}

// *** Checkout ***

.woocommerce-info{
    background-color:#fff;
    border:1px solid #000;
}

.woocommerce-info::before{
    color:#000;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
    border:1px solid #000;
    border-radius:0;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .select2-container--default .select2-selection--single{
    border-radius: 0;
    border:1px solid #000;
    padding:.5rem;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    border-radius: 0;
    border:solid 1px #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    background-color:#fff;
    color:#000;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit:hover{
    background-color:#000;
    color:#fff;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    border-radius: 0;
    border:solid 1px #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    background-color:#fff;
    color:#000;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
    background-color:#000;
    color:#fff;
}
.select2-container .select2-selection--single{
    height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    border-radius: 0px;
    border-left: 1px solid #000;
    padding:.5rem;
    height: 45px;
    width: 45px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #000 transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #000 transparent;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border:1px solid #000;
    border-radius: 0;
}
.select2-dropdown{
    border:1px solid #000;
    border-radius: 0;
}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true]{
    background-color:#000;
    color:#fff;
}

#place_order{
    display: block;
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.25em;
    padding: 1em;
    border-radius: 0;
    border:solid 1px #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    background-color:#fff;
    color:#000;
    font-weight: 500;
    width: 100%;
}
#place_order:hover{
    background-color:#000;
    color:#fff;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods{
    border-bottom:0;
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
    background:#fff;
}
.woocommerce table.shop_table{
    border:0;
}
.woocommerce-checkout .shop_table{
    background-color:#fff!important;
    border-color:#000;
}

#add_payment_method .cart-collaterals .cart_totals tr td, #add_payment_method .cart-collaterals .cart_totals tr th, .woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th, .woocommerce-checkout .cart-collaterals .cart_totals tr td, .woocommerce-checkout .cart-collaterals .cart_totals tr th{
    border-top:1px solid #000;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th, .woocommerce table.shop_table td{
    border-top:1px solid #000;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}
.woocommerce table.shop_table th{
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}
.woocommerce table.shop_table{
    border-collapse:collapse;
}
.woocommerce-error{
    background-color:#fff;
    border:1px solid #b81c23;
}





// *** Wishlist ***
table.wishlist_table tbody td, table.wishlist_table thead th{
    border:0;
}
.nobr{
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    color: var(--bs-body-color);
}
table.wishlist_table td{
    padding: 9px 12px;
    line-height: 1.5em;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    color: var(--bs-body-color);
    text-align: left;
}
table.wishlist_table td .amount, table.wishlist_table td .wishlist-in-stock, table.wishlist_table td a{
    padding: 9px 12px;
}

.yith-wcwl-share h4.yith-wcwl-share-title{
    font-weight: 700;
    padding: 9px 12px;
    line-height: 1.5em;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    color: var(--bs-body-color);
}
.yith-wcwl-share ul{
    padding: 9px 12px;
}
.woocommerce a.remove{
    padding:0px;
}

.wishlist_table .product-add-to-cart a{
    background-color: transparent;
    color: #000;
    border-radius: 0;
    border:1px solid #000;
    border-color: #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display:block!important;
}

.wishlist_table .product-add-to-cart a:hover{
    background-color:#000;
    color:#fff;
}
.woocommerce-message{
    background-color:#fff;
    border:1px solid #000;
}
// *** My Account ***

.woocommerce-account .woocommerce-MyAccount-content, .woocommerce-account .woocommerce-MyAccount-navigation{
    width: 100%;
    float:left;
}
li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link.is-active a{
    background-color:#000;
    color:#fff;
}
.woocommerce-MyAccount-navigation-link a{
    display:block;
    padding:9px 12px;
}
.woocommerce-MyAccount-navigation-link a:hover{
    background-color:#000;
    color:#fff;
}
.woocommerce-MyAccount-navigation-link:not(:last-child) a{
    border-bottom: 1px solid #000;

}
.woocommerce-account .addresses .title .edit{
    background-color: transparent;
    color: #000;
    border-radius: 0;
    border:1px solid #000;
    border-color: #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display:block!important;
}
.woocommerce-account .addresses .title .edit:hover{
    background-color:#000;
    color:#fff;
}


// *** Thank you ***
.woocommerce .woocommerce-customer-details address{
    border:1px solid #000;
    border-radius: 0;
    padding:1rem;
}

// *** Side Cart ***
.xoo-wsc-footer a{
    background-color: transparent;
    color: #000;
    border-radius: 0;
    border:1px solid #000;
    border-color: #000;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
 .xoo-wsc-footer a:hover{
    background-color:#000;
    color:#fff;
}
.desktop-hide{
    display:none;
}
.single-product .single-hero{
    margin-top:-10rem;
}
@include media-breakpoint-down(lg){
    .mobile-hide{
        display:none!important;
    }
    .desktop-hide{
        display:block;
    }
    h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    h2{
        font-size:2.75rem;
        line-height: 2.75rem;
    }
    h3{
        font-size:2.5rem;
        line-height: 2.75rem;
    }
    h4{
        letter-spacing: 0.1rem;
    }
    .btn-primary{
        letter-spacing: 0.1rem;
    }
    .col-verantwortung-kategorie{
        h3{
            font-size:1.5rem;
            line-height:1.5rem;
        }
        h4{
            letter-spacing:0.1rem;
        }
    } 
    html{
        overflow-x: hidden;
    }
    .woocommerce div.product form.cart .variations select{
        min-width: 100%;
        max-width: 100%;
    }
    .woocommerce .quantity .qty{
        width:3rem;
    }
    .woocommerce div.product form.cart .button{
        padding-left:10px;
        padding-right:10px;
        margin-left:10px;
    }
    .nav-tabs .nav-item .nav-link{
        font-size:30px;
    }
    .nav-tabs{
        display:flex;
        justify-content:center;
    }
    .versprechen{
        font-size: 30px;
        line-height: 40px;
    }
    .product-illustration{
        width:250px;
    }
    .hilf-mit{
        font-size:30px;
        line-height: 40px;
    }
 
    .related-products{
        margin-bottom:0;
    }
    .product-background-image{
        background-size:contain!important;
        background-position: bottom!important;
        margin-bottom:7rem;
    }
    .abschnitt-hilf-mit{
        margin-bottom:0;
        margin-left:2rem;
    }
    .woocommerce ul.products[class*=columns-] li.product:nth-child(2n), .woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n){
        margin:0 auto!important;
        float:none!important;
        margin-bottom:20px!important;
    }
    .col-produkte-3-karten{
        background:none;
    }
    .woocommerce_kategorie_titel_links h2{
        font-size:2.5rem!important;
    }
    .page-id-87 #primary > div > div:nth-child(4){
        margin-top:10rem!important;
    }
    .page-id-87 #primary > div > div:nth-child(8){
        margin-top:30rem!important;
        margin-bottom:-7rem!important;
    }
    .projektgebiete .card-title{
        font-size: 2rem;
        line-height: 2.25rem;
    }
    .projektgebiete{
        margin-bottom: -10rem;
    }
    input[type=text i], input[type=email i]{
        width:100%!important;
    }
    .cart-hero{
        // height: 70rem;
        // transform:translateY(-10rem);
         margin-top:3rem;
        // margin-bottom: -10rem;
     }
     .woocommerce #content table.cart .product-thumbnail, .woocommerce table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail{
        display:block;
     }
     td.product-thumbnail.border-dark.pt-4.pb-4:before{
        display:none;
     }
     #add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img{
        width: 100px;
     }
     #post-195 > div > div > div > div:nth-child(2) > div.col-11.bg-white.d-flex > div > div.col-12.col-lg-7 > div > form > table > tbody > tr:nth-child(3) > td > div > button{
        width:100%;
        margin-top:20px;
     }
     .btn:disabled{
        width:100%;
     }        
     .woocommerce form .form-row{
        width:100%;
     }
     .woocommerce-additional-fields{
        margin-top:3rem;
     }
     .cart-hero{
        background-position: top!important;
     }
     div.wc-gzd-product-name-left > img{
        width: 100px;
        max-width: 100px;
        margin-bottom:10px;
     }
     #post-196 > div > div > div.row.cart-hero > div:nth-child(2) > div.col-11.col-lg-10.offset-1.bg-white > form > div > div.col-12.col-lg-5.p-5.bg-white.border-lg-start.border-dark{
        margin-top:-3rem;
     }
     .single .single-hero-col{
        margin-top:0;
     }
     .modal-backdrop{
        z-index:998;
     }
     .wishlist_table.mobile li .item-details h3{
        font-size:1rem;
        line-height: 1.5rem;
     }
}